BankUI/Connected Services/BankCustomers/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BankCustomer_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBankCustomer_Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CustomerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankCustomer_Service_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_GetCustomerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_InnerTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:InnerTransfer" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_FilterCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterCustomers" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_SendCustomerInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_OperationResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OperationResult" />
  </wsdl:message>
  <wsdl:message name="IBankCustomer_Service_SendAllCustomers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendAllCustomers" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBankCustomer_Service">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/CreateCustomer" message="tns:IBankCustomer_Service_CreateCustomer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/DeleteCustomer" message="tns:IBankCustomer_Service_DeleteCustomer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCustomerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/GetCustomerInfo" message="tns:IBankCustomer_Service_GetCustomerInfo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/Withdraw" message="tns:IBankCustomer_Service_Withdraw_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Deposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/Deposit" message="tns:IBankCustomer_Service_Deposit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="InnerTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/InnerTransfer" message="tns:IBankCustomer_Service_InnerTransfer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/GetAllCustomers" message="tns:IBankCustomer_Service_GetAllCustomers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FilterCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCustomer_Service/FilterCustomers" message="tns:IBankCustomer_Service_FilterCustomers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendCustomerInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankCustomer_Service/SendCustomerInfo" message="tns:IBankCustomer_Service_SendCustomerInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OperationResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankCustomer_Service/OperationResult" message="tns:IBankCustomer_Service_OperationResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendAllCustomers">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankCustomer_Service/SendAllCustomers" message="tns:IBankCustomer_Service_SendAllCustomers_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBankCustomer_Service" type="tns:IBankCustomer_Service">
    <wsp:PolicyReference URI="#NetTcpBinding_IBankCustomer_Service_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/GetCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/Withdraw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/Deposit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InnerTransfer">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/InnerTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FilterCustomers">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/FilterCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/SendCustomerInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationResult">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/OperationResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAllCustomers">
      <soap12:operation soapAction="http://tempuri.org/IBankCustomer_Service/SendAllCustomers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankCustomer_Service">
    <wsdl:port name="NetTcpBinding_IBankCustomer_Service" binding="tns:NetTcpBinding_IBankCustomer_Service">
      <soap12:address location="net.tcp://localhost:8080/BankCustomer_Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/BankCustomer_Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>